/* es1*/
.ex-1-square {
    transition: background 1s;
}

.ex-1-square:hover {
    background: red;
}
/* es2*/
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}
/* es3*/
.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50px;
}
/* es4*/
.ex-4-square {
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}