/* es1*/
.ex-1-square {
    transition: background 1s;
}

.ex-1-square:hover {
    background: red;
}
/* es2*/
.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}
/* es3*/
.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50px;
}
/* es4*/
.ex-4-square {
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}
/* es5*/
.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}
/* es6*/
.ex-6-img:hover {
    filter: grayscale(1);
}
/* es7*/
.ex-7-img {
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: grayscale(1);
}
/* es8*/
.ex-8-img {
    transition: filter 1s, border-radius 1s;
}

.ex-8-img:hover {
    filter: grayscale(0.5) saturate(0.5);
    border-radius: 20px;
}
/* es9*/
.ex-9-img {
    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover {
    filter: grayscale(0.5) saturate(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}
/* es10*/
.ex-10-icon {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(-360deg)
    }
}
/* es11*/
.ex-11-icon:hover {
    animation: rotate-11 1s linear;
}
@keyframes rotate-11 {
    0%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0);
    }
}